.container {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows: 40vh; */
	grid-auto-flow: row;
	grid-gap: 10px;
	justify-content: center;
}

.image {
	width: 100%;
	border-radius: 10px;
}

@media screen and (max-width: 52em){
	.container {
		grid-template-columns: repeat(3, 32%);
		grid-gap:10px;
		
	}
}

@media screen and (max-width: 40em){
	.container {
		grid-template-columns: repeat(2, 40%);
		grid-gap:15px;
	}
}